@model ViewRowModel
@{
 
    SqlBrokerDef BrokerDef = !string.IsNullOrWhiteSpace(Model.ViewDef.BrokerName) ? SqlBrokerDef.Find(Model.ViewDef.BrokerName) : null;
    SqlBrokerTableDef TableDef = BrokerDef != null && !string.IsNullOrWhiteSpace(Model.Def.TableName) ? BrokerDef.FindTable(Model.Def.TableName) : null;
    SqlBrokerFieldDef FieldDef;
 
    SqlBrokerFieldDef GetFieldDef(ViewControlDef ControlDef)
    {
        var Tuple = TableDef != null ? TableDef.FindAnyField(ControlDef.DataField) : null;
        return Tuple != null ? Tuple.Item2 : null;
    }

    // Examples of control row
    // <div class="tp-CtrlRow" data-setup="{Text: 'Code', Control: { TypeName: 'TextBox', DataField: 'Code' } }"></div>
    // <div class="tp-CtrlRow" data-setup="{Text: 'Test', Control: { TypeName: 'ComboBox', DataField: '', Mode: 'ListOnly', ListValueField: 'Id', ListDisplayField: 'Name', List: [{Id: 100, Name: 'All'}, {Id: 0, Name: 'No stops'}, {Id:1, Name: '1 stop'}], SelectedIndex: 0} }"></div>

}


<div class="tp-Row @Html.Raw(Model.Def.GetCssClassesText())" @Html.Raw(Model.Def.GetCssStyleText())>
    @if (Model.Def.Grid != null)
    {
        string GridDataSetupText = Model.Def.Grid.GetDataSetupText();
        <div class="Grid @Html.Raw(Model.Def.Grid.GetCssClassesText())" @Html.Raw(Model.Def.Grid.GetCssStyleText()) data-setup='@Html.Raw(GridDataSetupText)'></div>
    }
    else if (Model.Def.Columns != null && Model.Def.Columns.Count > 0)
    {
        // columns
        foreach (var Col in Model.Def.Columns)
        { 
            <div class='@Html.Raw(Col.GetCssClassesText())' @Html.Raw(Col.GetCssStyleText())>
                @foreach (var Ctrl in Col.Controls)
                {
                    string CtrlRowCssClass = Ctrl.TypeName == ViewControlDef.CheckBox ? "tp-CheckBoxRow" : "tp-CtrlRow";
                    FieldDef = GetFieldDef(Ctrl);
                    if (FieldDef != null)
                        Ctrl.AssignFrom(FieldDef);
                    string ControlDataSetupText = Ctrl.GetDataSetupText();
                    <div class='@Html.Raw(CtrlRowCssClass)' @Html.Raw(Ctrl.GetCssStyleText()) data-setup='@Html.Raw(ControlDataSetupText)'></div>
                }
            </div>
        }
    }

</div>
