@model ViewTabControlModel

<div class='TabControl @Html.Raw(Model.Def.GetCssClassesText())' data-setup='@Html.Raw(Model.Def.GetDataSetupText())'>
    <div>
        @foreach (var PageDef in Model.Def.Items)
        {
            <div>@PageDef.Title</div>
        }
    </div>
    <div>
        @foreach (var PageDef in Model.Def.Items)
        {
            <div class="@Html.Raw(PageDef.GetCssClassesText())" data-setup='@Html.Raw(PageDef.GetDataSetupText())'>
                @{
                    var ContainerPanelModel = new ViewContainerPanelModel(Model.ViewDef, PageDef);
                    @await Html.PartialAsync("View.ContainerPanel", ContainerPanelModel)
                }
            </div>
        }
    </div>

</div>

