@*
    Place common HTML markup here, e.g. dialog boxes, notification boxes, and the like.
    HTML elements placed in this partial are NOT visible.
    The whole markup of this partial is surrounded by a non-visible container.
*@

@{
    var Settings = DataStore.GetSettings();
    string Flag = WSys.IsDevelopment ? "true" : "false";
}

<div class="dialog-box-template">
    <div class="caption">
        <div class="title">@*PLACE DIALOG-BOX TITLE HERE*@</div>
        <img class="close" src='@SystemImageUrl("CloseWindow.png")' asp-append-version="true" />
    </div>
    <div class="content-container">
    </div>
</div>

 
<script>
    tp.Ready(() => {

        tp.ScreenWidthsMax = {
            XSmall: 576,
            Small: 992,
            Medium: 1200
        };

        tp.SysConfig.GlobalErrorHandling = @Flag;

        tp.NotificationBoxSetup.ToTop = false;
        tp.NotificationBoxSetup.Height = 100;

        tp.NotificationBoxSetup.Information.Title = '@L("Information")';
        tp.NotificationBoxSetup.Warning.Title = '@L("Warning")';
        tp.NotificationBoxSetup.Error.Title = '@L("Error")';
        tp.NotificationBoxSetup.Success.Title = '@L("Success")';

        app.Config.EmptyValue = '@Lib.EmptyValue';
        app.Config.CurrencySymbol = '@Settings.General.CurrencySymbol';

        // string resources
        app.Resources.SelectAnItem = '@L("SelectAnItem")';
        app.Resources.Question = '@L("Question")';
        app.Resources.DeleteItemQuestion = '@L("DeleteItemQuestion")';
    });


</script>
