@model CredentialsModel
 
@{
    Layout = "Layout";

    var Settings = Lib.App.GetSettings();

    string ReturnUrl = WSys.GetQueryValue("ReturnUrl", "");
    if (string.IsNullOrWhiteSpace(ReturnUrl))
        ReturnUrl = ViewData.ContainsKey("ReturnUrl") ? ViewData["ReturnUrl"].ToString() : "";
}

<link href="~/css/login.css" rel="stylesheet" />

<div class="page login-page">

    <div class="page-caption">
        <div class="page-title">@L("Login")</div>
    </div>

    <div class="login-form-container">
        <form class="login-form l-33 m-50" asp-controller="Home" asp-action="Login" asp-route-ReturnUrl="@ReturnUrl" method="post">

            <div class="tp-Ctrls lc-75 mc-70 sc-70 tp-TextTop">
                <div class="field-group">
                    <tp-input asp-for="UserId" />
                    <tp-input asp-for="Password" />
                </div>
            </div>

            <div class="form-buttons">
                @* <a class="button btn-forgot-password" href='@Url.RouteUrl("PasswordRecovery")'>@L("ForgotPasswordQuestion")</a> *@
                <button class="btn-submit btn-login" type="submit">@L("Login")</button>
            </div>
        </form>
    </div>


</div>